@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: absolute;
  margin: auto;
  width: 300px;
  height: 100px;
  
}
  .search {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 70px;
    height: 70px;
    background: crimson;
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    /* box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4); */
  }
    /* // box-shadow: 0 0 25px 0 crimson; */
    .search:hover {
      cursor: pointer;
    }
    .search::before {
      content: "";
      position: absolute;
      margin: auto;
      top: 22px;
      right: 0;
      bottom: 0;
      left: 0;
      width: 12px;
      height: 2px;
      background: white;
      transform: rotate(45deg);
      transition: all .5s;
    }
    .search::after {
      content: "";
      position: absolute;
      margin: auto;
      top: -5px;
      right: 0;
      bottom: 0;
      left: -5px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: 2px solid white;
      transition: all .5s;
    }
  
  #input {
    font-family: 'Inconsolata', monospace;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.2); */
    background: #efefef;
    color: grey;
    padding: 0 80px 0 20px;
    border-radius: 30px;
    font-size: 22px;
    
    /* // box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, 0.5); */
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
  }
    #input:hover {
      cursor: pointer;
    }
    #input:focus {
      width: 300px;
      opacity: 1;
      cursor: text;
    }
    #input:focus ~ .search {
      right: -250px;
      background: #151515;
      z-index: 6;
    }
      #input::before {
        top: 0;
        left: 0;
        width: 25px;
      }
      #input::after {
        top: 0;
        left: 0;
        width: 25px;
        height: 2px;
        border: none;
        background: white;
        border-radius: 0%;
        transform: rotate(-45deg);
      }
    
    #input::placeholder {
      color: grey;
      opacity: 0.5;
      font-weight: bolder;
    }
  


::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 ::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.dropbtn {
  color: black;
  border: none;
  cursor: pointer;
  font-size: 22px;
  font-weight: medium;
  margin-top: 25px;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 20px;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {
      
 }
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#navabrContainer{
  display: flex;
  height: 100px;
  width: 100%;
 
}
#secondDiv{
  width: 40%;
  margin: auto;
  height: 100px;
  display: flex;
  justify-content: space-between;
}
#firstDiv{
  width: 50%;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
}


.content-slider {
  width: 100%;
  height: 100px;
  background-color: #f5f5f5;
  border-radius: 8px;
}

.slider {
  height: 100px;
  width: 680px;
  margin: 40px auto 0;
  overflow: visible;
  position: relative;
}

.mask {
  overflow: hidden;
  height: 100px;
}

.slider ul {
  margin: 0;
  padding: 0;
  position: relative;
}

.slider li {
  width: 680px;
  height: 100px;
  position: absolute;
  top: -325px;
  list-style: none;
}

.slider .quote {
  font-size: 22px;
  font-style: italic;
  margin-top: 20px;
}

.slider .source {
  font-size: 20px;
  text-align: right;
}

.slider li.anim1 {
  animation: cycle 15s linear infinite;
}

.slider li.anim2 {
  animation: cycle2 15s linear infinite;
}

.slider li.anim3 {
  animation: cycle3 15s linear infinite;
}

.slider li.anim4 {
  animation: cycle4 15s linear infinite;
}

.slider li.anim5 {
  animation: cycle5 15s linear infinite;
}


.slider:hover li {
  animation-play-state: paused;
}

@keyframes cycle {
  0% {
    top: 0px;
  }
  4% {
    top: 0px;
  }
  16% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  20% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  21% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  50% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  92% {
    top: -325px;
    opacity: 0;
    z-index: 0;
  }
  96% {
    top: -325px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

@keyframes cycle2 {
  0% {
    top: -325px;
    opacity: 0;
  }
  16% {
    top: -325px;
    opacity: 0;
  }
  20% {
    top: 0px;
    opacity: 1;
  }
  24% {
    top: 0px;
    opacity: 1;
  }
  36% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  40% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  41% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle3 {
  0% {
    top: -325px;
    opacity: 0;
  }
  36% {
    top: -325px;
    opacity: 0;
  }
  40% {
    top: 0px;
    opacity: 1;
  }
  44% {
    top: 0px;
    opacity: 1;
  }
  56% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  60% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  61% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle4 {
  0% {
    top: -325px;
    opacity: 0;
  }
  56% {
    top: -325px;
    opacity: 0;
  }
  60% {
    top: 0px;
    opacity: 1;
  }
  64% {
    top: 0px;
    opacity: 1;
  }
  76% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  80% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  81% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle5 {
  0% {
    top: -325px;
    opacity: 0;
  }
  76% {
    top: -325px;
    opacity: 0;
  }
  80% {
    top: 0px;
    opacity: 1;
  }
  84% {
    top: 0px;
    opacity: 1;
  }
  96% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  100% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
}
#kidsImage{
  width: 100%;
  border-radius: 8px;
  margin-top: 5px;
  cursor: pointer;
}

#h3{
  text-align: center;
  font-size: 25px;
  font-style: italic;
  margin-top: 10px;
}
#h1{
  text-align: center;
  font-size: 85px;
  font-weight: bold;
  font-style: italic;
}
#shopButton{
  background-color: black;
  color: white;
  padding: 15px;
  border-radius: 25px;
  font-size: 22px;
  margin-left: 15px;
  margin-top: 30px;
  cursor: pointer;

}
#categoryBox{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  height: 420px;
  text-align: center;
}
#category1,#category2,#category3{
  height: 100%;
  width: 95%;
}
#category1 {
  background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.3,cs_srgb/w_300,c_limit/bda0ad1d-41ce-4362-a5b8-69bb30622168/image.jpg");
}
#category2 {
  background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.3,cs_srgb/w_300,c_limit/44f3d17c-3084-4bbf-ac1d-3edd84b07942/image.jpg");
}
#category3 {
  background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.3,cs_srgb/w_300,c_limit/c66935da-2674-4a59-9e4a-14c4f0b136cf/image.jpg");
}
#divButton{
  background-color: black;
  color: white;
  padding: 15px;
  border-radius: 25px;
  font-size: 22px;
  margin-left: 15px;
  margin-top: 30px;
  cursor: pointer;
  margin-top: 70%;
}
#divButton:hover{
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
#shopButton:hover{
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
#divButton2:hover{
  background-color: grey;
}
#divButton3:hover{
  background-color: grey;
  
}
#divButton2{
  background-color: white;
  color: black;
  padding: 15px;
  border-radius: 25px;
  font-size: 22px;
  margin-left: 15px;
  margin-top: 30px;
  cursor: pointer;
  border: 0px;
}
#divButton3{
  background-color: white;
  color: black;
  padding: 15px;
  border-radius: 25px;
  font-size: 22px;
  margin-left: 15px;
  cursor: pointer;
  border: 0px;
  margin-top: 70%;
}
#categoryBox2{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  height: 500px;
  text-align: left;

  
}
#category12,#category22{
  height: 100%;
  width: 95%;
  padding: 20px;
}
#category12 {
  background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.3,cs_srgb/w_484,c_limit/d8eb53f9-4ec9-45c1-9dac-0152cbf73f7a/nike-just-do-it.jpg");
}
#category22 {
  background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.3,cs_srgb/w_484,c_limit/4fe66bea-ddfa-4527-831e-bb61a093782e/nike-just-do-it.jpg");
}
#firsttitle{
  color:white;
  font-size: 25px;
  text-align: left;
  font-style: italic;
  margin-top: 63%;
}
#secondtitle{
  color:white;
  font-size: 35px;
  text-align: left;
  font-style: italic;
}
#category13{
  height: 100%;
  width: 95%;
  padding: 20px;
 background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.3,cs_srgb/h_700,c_limit/1bb228fb-e295-4bb0-8b07-536f3e983f41/nike-just-do-it.png");
}
#category23{
  height: 100%;
  width: 95%;
  padding: 20px;
 background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.3,cs_srgb/h_700,c_limit/4bf65f60-3bfb-47a6-9139-32645be96403/nike-just-do-it.png");

}
/*---------------------- Carousal CSS  -------------------------- */
#carousalDiv{
  width: 35%;
  height: 450px;
  margin-left: 530px;
}
#carousalDiv img{
  width: 350px;
  border-radius: 8px;
}
#cdiv{
  display: flex;
  width: 60%;
  justify-content: space-between;
}

  #color{
  }
  #carousalButton{
    width: 200px;
    background-color: black ;
    color: white;
    font-size: 18px;
    border: 0px;
    padding: 10px;
    cursor: pointer;

  }
 #carousalButton:hover{
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  border: 0px; 
}
/*---------------------- Carousal CSS ----------------------------*/

#category14{
  height: 100%;
  width: 95%;
  padding: 20px;
  background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.3,cs_srgb/w_322,c_limit/cb91797a-6054-4201-8bee-c08700c83e47/nike-just-do-it.png");
}
#category24{
  height: 100%;
  width: 95%;
  padding: 20px;
  background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.3,cs_srgb/w_322,c_limit/b47f5049-1b86-4642-b50c-310ce59b5940/nike-just-do-it.png");
}
#category34{
  height: 100%;
  width: 95%;
  padding: 20px;
  background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.3,cs_srgb/w_322,c_limit/44c84aa3-702f-49fd-80e0-a74258b9b0b6/nike-just-do-it.png");
}

#linkBox{
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
#child{
  height: 300px;
  display: flex;
  justify-content: space-evenly;
}
#subchild{
  text-align: left;
}
#bottomLink{
  color: grey;
  font-size: 22px;
  display: block;
  text-decoration: none;
}
/* Footer Css */
    #footerContainer{
      height: 450px;
      display: flex;
      width: 100%;
      background-color: #111111;
    }
    #box1,#box2,#box3,#box4{
      height: 70%;
      width: 25%;
      text-align: left;
      background-color: #111111;
      margin-top: 50px;
      padding: 30px;
    }
    #box4{
      display: flex;
      justify-content: space-evenly;
    }
    #ancer{
      font-size: 18px;
      color: white;
      font-weight: bolder;
      display: block;
      margin-top: 20px;
      text-decoration: none;
      font-style: inherit;
    }
    #categoryAncer{
      font-size: 20px;
      color: black;
      display: block;
      margin-top: 20px;
      text-decoration: none;
      font-style: inherit;
      font-style: italic;
      
    }
    #categoryAncer:hover{
       color:grey
    }
    #ancer2{
      font-size: 19px;
      color: grey;
      display: block;
      margin-top: 20px;
      text-decoration: none;
      font-style: inherit;
    }

     #footerbottomdiv{
      display: flex;
      background-color: #111111;
      justify-content: space-evenly;
      padding: 20px;
      
    }
    #ancer3{
      font-size: 19px;
      color: grey;
      margin-top: 20px;
      text-decoration: none;
      display: block;
      font-style: inherit;
    }
/* -------------- */
/* SignUp CSS */

  #signUpDiv{
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 20px;
  }
 
  #signUpInput {
    border: 1px solid;
    padding: 10px;
    border-bottom: 1px solid;
    font-size: 18px;
  }
  #signupButton{
    width: 250px;
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 18px;    
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
  }
/* ---------- */

/* MenClothing CSS */
   
#menClotheContainer {
  display: flex;
}
#container1 {
  width: 20%;
  height: 100vh;
  overflow: scroll;
  padding: 10px;
  overflow-x: hidden;
}
#container2 {
   width: 80%;
  height: 110vh;
  overflow: scroll;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  overflow-x: hidden;
}
 #mappedBox{
  height: 530px;
  padding: 10px;
  width: 96%;
  margin: auto;
 }
 #mappedBox:hover{
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
 }
 #mappedBox>img{
  width: 95%;
  height: 330px;
 }
 #description{
  font-size: 22px;
  font-style: normal;
  color: #bb724d;
 }
 #title{
  font-size: 22px;
  font-style: normal;
  color: grey;
  
 }
 #color{
  font-size: 22px;
  font-style: normal;
  color: grey;
 }
 #price{
  font-size: 22px;
  font-style: normal;
  color: black;
 }
 
/* ---------- */

/* Single Products CSS */
  #SingleParent {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
  }
  #singleChild{
    width: 98%;
    padding: 20px;
    height: 500px
  }
  #singleChild>img{
    width: 90%;
    height: 400px;
    margin: auto;
  }
  #singleChild2{
    width: 98%;
    padding: 30px;
    width: 110vh;
    overflow: scroll;
    overflow-x: hidden;
  }
  #select{
    width: 300px;
    height: 35px;
    font-size: 22px;
    border: 1px solid black;

  }
  #title1{
    font-size: 30px;
    color: black;
  }
  #cartButton{
    width: 300px;
    height: 70px;
    border-radius: 30px;
    color: white;
    background-color: black;
    border: 0px;
    font-size: 23px;
    cursor: pointer;
  }
/* ---------------- */

/* Cart Page CSS */
 #cartBox{
  display: grid;
  grid-template-columns: repeat(2,1fr);
 }
 #cartChild1{
  width: 100%;
  padding: 20px; 
  height: 100%;
 }
 #cartChild2{
  width: 100%;
  padding: 20px;
 }
 #mappedData{
  height: 110vh;
  overflow: scroll;
  overflow-x: hidden;
  gap: 10px;
 }
 #cartMappedBox{
   display: flex;
   height: 200px;
   margin-top: 20px;
   padding: 10px;
   border-radius: 10px;
   width: 96%;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   
 }
 #cartMappedBox:hover{
    border: 2px dotted grey;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
 }
 #cartImage{
  width: 200px;
  height: 180px;
  margin: auto;
 }
 #remove{
  cursor: pointer;
 }
 #Cartbox2{
   height: 200px;
   padding : 10px;
   display:flex;
   justify-content : space-between
 }

/* --------------- */
@media  screen and (max-width: 600px) {
   #navabrContainer{
      display: block;
      
  }
  #firstDiv{
    width:90%;
  }
  #secondDiv{
    width: 90%;
    border: 1px solid grey;
    border-radius: 8px;
    padding: 3px solid teal;
  }

  #homePage{
    margin-top: 30%;
  }
  .dropbtn{
    font-size: 18px;
    margin-left: -15px;
  }
  .dropdown-content a{
    font-size: 18px;
  }
  .container{
    width: 200px;
    margin-left: -20px;
  }
  .search {
    width:60px;
    height: 60px;
  }
  .content-slider {
    display: none;
    width: 90%;
    margin: auto;
    margin-top: 120px;
  }
  .quote{
    font-size: 16px;
    text-align: left;
    padding: 10px;
  }
  #kidsImage{
    width: 90%;
    margin: auto;
    margin-top: 20px;
  }
  #h3{
    font-size: 18px;
  }
  #h1{
    font-size: 30px;
  }
  #categoryBox{
    grid-template-columns: repeat(1,1fr);
    height: 930px;

  }
  #categoryBox2{
    grid-template-columns: repeat(1,1fr);
    width: 300px;
    height: 930px;

  }
  #category1,#category2,#category3{
    height: 300px;
    width: 300px;

  }
  #category12,#category220,#category13,#category14,#category14,#category24,#category34{
    height: 300px;
    width: 100%;
  }
  
  #divButton{
    margin-top: 75%;
  }
  #divButton3{
    margin-top: 55%;
  }
  #firsttitle{
   margin-top: 20%;
  }
  body{
    width: 90%;
  }
  #linkBox{
    grid-template-columns: repeat(1,1fr);
  }
  #bottomLink{
    font-size: 17px;
  }
  #cdiv{
     width: 300px;
    display: block;
  
  }
 
  #color{
    width: 300px;
     text-align: left;
    
  }
  #carousalDiv{
    margin-left: 0px;
  }
  #carousalDiv img{
    width: 300px;
  }
  #footerContainer{
    display: block;
    width: 90%;
    height: 100%;
    
  }
  #box1,#box2,#box3,#box4{
    width: 95%;
    text-align: left;
  }
  #footerbottomdiv{
    display: block;
    margin-top: -20px;
    width: 90%;
    padding: 20px;
  }
  
  #menClothingContainer,
   #menShoesContainer,
   #womenClothingContainer,
   #womenShoesContainer,
   #kidsShoesContainer,
   #signUpContainer,
   #loginContainer,
   #cartContainer,
   #singleProductContainer
   {
    margin-top: 35%;
  }

  #signUpDiv{
    width: 100%;
  }
  #container1 {
    width: 35%;
}
#container2{
    width: 65%;
  grid-template-columns: repeat(1,1fr);

}
#mappedBox{
  height: 350px;

 }
 #mappedBox>img{
  height: 200px;
 }
 #description,#title,#color,#price{
  font-size: 18px;
 }
 #categoryAncer{
  font-size: 13px;
  font-weight: normal;
 }
 #SingleParent{
  grid-template-columns: repeat(1,1fr);
  width: 100%;
 }
 #title1{
  font-size: 20px;
 }
 #select{
  width: 230px;
  font-size: 18px;
 }
 #singleChild>img{
  width: 300px;
  height: 90%;
 }
  #cartButton{
    width: 200px;
    height: 50px;
    font-size: 18px;
  }
  #textBox{
  display: none;
  }
  #textBox2{
    width: 300px;
  }
  #cartBox{
    grid-template-columns: repeat(1,1fr);
  }
  #cartChild1{
   width: 100%;
  }
  #cartChild2{
    height: 300px;
    width: 100%;
  }
  #mappedData{
  }
  #cartMappedBox{
    height: 500px;
    display: block;
    padding: 10px;
  }
 #Cartbox2{
  height: 300px;
  width: 300px;
 }
}
